.App {
  text-align: center;
}

.header {
  background: #282c34;
  color: white;
  font-size: 25px;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100%;
}

.body {
  margin-top: 75px;
}

th,
td {
  text-align: center;
}

th {
  width: 50%;
}

.add-user-details {
  padding: 55px 90px 0px;
  position: relative;
}

.add-user-details > div {
  width: 350px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  height: 50px;
}

.add-user-details > div > label {
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  font-weight: 500;
  background: white;
  transition: all 0.2s ease-in 0s;
}

.add-user-details > div > input:focus {
  border-bottom: 1.5px solid #0f65ea;
  transition: all 0.2s ease-in 0s;
}

.add-user-details > div > input:focus + label,
.add-user-details > div > input:valid + label {
  top: -20px !important;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s ease-in 0s;
  color: #0f65ea;
}

.add-user-details > div > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  transition: all 0.2s ease-in 0s;
}

.add-user-details > div > button {
  border: none;
  cursor: pointer;
  height: 35px;
  width: 90px;
  font-size: 15px;
  background: #0f65ea;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 2px #00000036;
}

.error-message > span {
  display: inline-block;
  color: red;
  background: #ff00003d;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  transition: all 0.2s ease-in 0s;
}

.success-message > span {
  display: inline-block;
  color: #0e940e;
  background: #00800036;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  transition: all 0.2s ease-in 0s;
}

.error-message,
.success-message {
  position: absolute;
  top: -40px;
  width: 100px;
  height: 100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

@-webkit-keyframes slide {
  100% {
    top: 10px;
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    top: 10px;
    opacity: 1;
  }
}

.heading {
  font-size: 25px;
  font-weight: 500;
  color: #000000a3;
}

.body > div {
  width: 60%;
  margin: auto;
}

.user-container {
  border: 2.5px solid #282c344d;
  margin-top: 50px;
  border-radius: 138px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px #55555594;
}

.user-container:last-child {
  margin-bottom: 50px;
}

.user-buttons {
  margin-top: -20px;
}

.user-buttons > button {
  border: none;
  padding: 5px 10px;
  margin: 10px;
  background: #337ab7;
  color: white;
  border-radius: 3px;
}

.body > div {
  overflow: hidden;
}

.body > div:first-child {
  margin-top: 10px;
}

.body > div:first-child > span {
  float: left;
  font-size: 20px;
  font-weight: 500;
}

.body > div:first-child > button {
  float: right;
  font-size: 15px;
  font-weight: 500;
  border: none;
  padding: 5px 10px;
  background: #337ab7;
  color: white;
  border-radius: 3px;
}

.body > div:first-child > button > i {
  vertical-align: bottom;
  font-size: 19.5px;
}

.no-user {
  margin: 15% auto !important;
  font-size: 20px;
}

.all-users > button {
  font-size: 15px;
  font-weight: 500;
  border: none;
  padding: 5px 10px;
  background: #337ab7;
  color: white;
  border-radius: 3px;
  float: left;
}

.all-users {
  overflow: hidden;
  margin: 75px 0px 0px 12%;
}

.all-users > button > i {
  vertical-align: bottom;
  font-size: 20.5px;
}

.all-users-container {
  overflow: inherit !important;
}

.body > .rodal {
  width: 100%;
}

.rodal-dialog {
  height: max-content !important;
}

.modal-header {
  font-size: 17px;
  padding: 0px 10px 10px;
  font-weight: 500;
}

.modal-body {
  padding: 0px 15px 15px;
}

.modal-footer {
  padding: 15px 15px 0px;
}

.edit-user-details {
  position: relative;
}

.edit-user-details > div {
  width: 300px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  height: 23px;
}

.edit-user-details > div > label {
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  font-weight: 500;
  background: white;
  transition: all 0.2s ease-in 0s;
}

.edit-user-details > div > input:focus {
  border-bottom: 1.5px solid #0f65ea;
  transition: all 0.2s ease-in 0s;
}

.edit-user-details > div > input[id="username"] {
  cursor: no-drop;
  background: #8080802e;
}

.edit-user-details > div > input:focus + label,
.edit-user-details > div > input:valid + label {
  top: -20px !important;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s ease-in 0s;
  color: #0f65ea;
}

.edit-user-details > div > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  transition: all 0.2s ease-in 0s;
}

.edit-user-details > div > button {
  border: none;
  cursor: pointer;
  height: 35px;
  width: 90px;
  font-size: 15px;
  background: #0f65ea;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 2px #00000036;
}

.message > span {
  margin-top: 10px;
  display: inline-block;
  color: #0e940e;
  background: #00800036;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  transition: all 0.2s ease-in 0s;
}
